/* Our Benefits Styles */

.articles-container {
    display: flex;
    flex-direction: row;

    margin: 0 2rem;
}

.benefit {
    flex: 1;
    margin: 0 1rem;

    h3 {
        font-size: 1rem;
        margin-bottom: 1rem;

        display: flex;
        align-items: center;
        gap: 0.4rem;
    }

    p {
        font-size: 0.90rem;
        line-height: 1.1875rem;


    }
}