@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
    box-sizing: border-box;
    font-size: 16px;
    scroll-behavior: smooth;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Spartan", sans-serif;
    font-weight: normal;
    color: #222;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 3.125rem;
    /* 50px */
    line-height: 1.28;
    /* 64px / 50px */
}

h2 {
    font-size: 2.875rem;
    /* 46px */
    line-height: 1.17;
    /* 54px / 46px */
}

h3 {
    font-size: 2.25rem;
    /* 36px */
    line-height: 1.33;
    /* 48px / 36px */
}

h4 {
    font-size: 1.25rem;
    /* 20px */
}

h6 {
    font-weight: 700;
    font-size: 0.75rem;
    /* 12px */
}

p {
    font-size: 1rem;
    /* 16px */
    color: #465b52;
    margin-bottom: 1.25rem;
    /* 20px */
}

.section-p1 {
    padding: 2.5rem 5rem;
    /* 40px 80px */
}

.section-m1 {
    margin: 2.5rem 0;
    /* 40px */
}