/* Banner Styles */

.banner {
    position: relative;
    min-height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding-right: 2.8125rem;
    /* Converted from 45px */

    background-color: #E3E6F3;
    background-image: url('../media/images/clothes-men-women.png');
    background-position: 95% bottom;
    background-repeat: no-repeat;
    background-size: auto 80%;

    margin-bottom: 5rem;
}

.banner-container {
    width: 60%;
    padding-top: 3rem;
    margin-right: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner {
    h1 {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 2rem;
    }

    h2 {
        color: #088178;
        line-height: 1.2rem;
        margin-bottom: 2rem;
    }

    h4 {
        padding-bottom: 1.5rem;
    }
}

.banner button {
    height: 2.5625rem;
    /* Converted from 41px */
    width: 12.5rem;

    /* Converted from 200px */
    font-size: 0.875rem;
    /* Converted from 14px */
    font-weight: 700;
    background-color: #018849;
    text-align: center;
    color: #fff;
    letter-spacing: 0.125rem;
    /* Converted from 2px */
    text-transform: uppercase;

    padding: 0;
    border: 0;
    margin: 0 8.75rem;
    /* Converted from 140px */

    cursor: pointer;
}

button:hover {
    background-color: #00663d;
}

/* Our Benefits Styles */

.why-shop-at-4BD {
    padding: 0 5rem;
    margin-bottom: 5rem;
}

.our-benefits {
    font-size: 1.25rem;

    h2 {
        margin-bottom: 2rem;
    }
}

.articles-container {
    display: flex;
    flex-direction: row;
}

.benefit {
    flex: 1;
    margin: 0 1rem;

    h3 {
        font-size: 1rem;
        margin-bottom: 1rem;

        display: flex;
        align-items: center;
        gap: 0.4rem;
    }

    p {
        font-size: 0.90rem;
        line-height: 1.1875rem;
    }
}